* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

h1 {
    text-align: center;
    color: purple;
    font-size: 40px;
}

.redtext {
    color: red;
}

.bluetext {
    color: blue;
}

.imageSize1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

.imageSize2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}