body   {
        background-color: lightsalmon;
    }
p       {
    font-family: "Verdana","Geneva","sans-serif";
    }
h1      {
    font-size: 36px;
    text-align: center;
    }
h2      {
    
    text-align: center;
    }
h3      {
    font-size: 28px;
    }
ul {
font-size: 20px;
}
ol {
font-size: 20px;
}
p {
    font-size: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.aqua {
    color:aqua;
}

.Presen {
    color:darkblue;
    font-size: 20px;
}

.twen {
    font-size: 20px;
}