#centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#centerImage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.qCenter {

    color: brown;

}

.pColor {
    color: deeppink;

}

.h1Center {
    text-align: center;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.th {
    border: 1px solid black;
    border-collapse: collapse;
}

.th1 {
    color: red;
    height: 100px;
}

.td {
    border: 1px solid black;
    border-collapse: collapse;
}



.tablenoline {
    width: 100%;

}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

.tre {
    background: #fefefe
}

.tro {
    background: #f2f2f2
}
